body{
    background-color: rgb(161, 48, 20);
}
.maindiv{ 
    background-color: rgb(194, 106, 56);
    width: 100%;
    height: 3000px;
}
.head{
    background-color: rgb(161, 48, 20);
    width:100%;
    height: 200px;
    position: relative;
}
.h{
    position: absolute;
}
.h1{
    background-color:transparent;
    width: 200px;
    left: 0px;
    height: 100%;
    text-align: right;justify-content: center;
    top: 30%;
    bottom: 50px;
}
.h2{
    background-color:transparent;
    width:700px;
    right: 600px;
    bottom: 75px;
    height: 100%;
}
.fa-solid{
    font-size: 120px;
}
h1{
    font-size: 120px;
}
.stick{
    background-color: rgb(161, 48, 20);
    width: 100%;
    height: fit-content;
    margin-top: -20px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
}
.b1{
    background-color: rgb(194, 106, 56);
    width: 100%;
    height: 300px;
    margin-top: -20px;
    text-align: center;
}
.b2{
    background-color: rgb(194, 106, 56);
    width: 50%;
    height: 150px;
    border: solid 2px;
    border-color: black;
    margin-left: 25%;
    text-align: center;
    justify-content: center;
}
.head2{
    background-color: rgb(194, 106, 56);
    width: 100%;
    margin-top: -20px;
    height:fit-content;
    text-align: center;
}
.hd2{
    background-color: rgb(194, 106, 56);
    width: 100%;
    height: 500px;
    margin-top: -20px;
}
.hdd{
    text-align: center;
}
.tb{
    background-color: rgb(194, 106, 56);
    width: 100%;
    height: 300px;
    margin-top: -20px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
}
.tbb{
background-color: rgb(194, 106, 56);
width: 400px;
height: 260px;
margin: 25px;
}
.tbi{
    margin-left: 350px;
}
.tbii{
    margin-right: 350px;
    text-align: center;
}
.bdef{
    padding-right: 10px;
}
.gal{
    background-color: rgb(194, 106, 56);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    margin-top: -20px;
}
.gall{
    background-color: aliceblue;
    width: 500px;
    height: 350px;
    margin: 20px;
}
.gali{
    background-color: rgb(194, 106, 56);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    margin-top: -20px;
}
.galli{
    background-color: aliceblue;
    width: 500px;
    height: 350px;
    margin: 20px;
}
.query{
    background-color: rgb(194, 106, 56);
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: -22px;
}
.qform{
    background-color: brown;
    height: 300px;
    width: 800px;
    margin-left: 350px;
    border: 5px solid black;
}
.formi{
    margin-top: 50px;
}
button{
    background-color:rgb(161, 48, 20);
}

.ftr{
    background-color:rgb(161, 48, 20);
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.ftri{
    background-color:rgb(161, 48, 20);
    height: 180px;
    width: 350px;
    margin: 10px;
    text-align: center;
}
.fa-brands{
    font-size: 250%;
    padding: 10px 10px 10px 10px;
    transition-property: all;
}
.fa-brands:hover{
    color: white;
    font-stretch: expanded;
}
h2{
    font-family: 'Permanent Marker', cursive;
    transition-property: all;
}
h2:hover{
    color: rgb(0, 0, 0);
    font-size: 200%;
    
}
h3{
    font-family: 'Luckiest Guy', cursive;
    transition-property: all;
}
h3:hover{
    font-size: 200%;
}
h1{
    font-family: 'Babylonica', cursive;
}
h4{
    font-family: 'Solitreo', cursive;
}
dt{
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
}
dd{
    font-size: large;
}